@charset "UTF-8";

/*
    Celular: 320px — 480px.
    Tablets: 481px — 768px.
    laptops: 769px — 1024px.
    Desktops(PCs): 1025px — 1200px.
    TVs: 1201px, and more.
*/

@media screen and (min-width: 320px) and (max-width: 768px) { /*Celular*/

    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    .titulo {
        font-size: 25px;
    }
    .subtitulo1 {
        font-size: 15px;
        padding: 20px;
    }
    .subtitulo2 {
        font-size: 15px;
    }
    .parte1 {
        padding: 0px 15px;
    }
    .paragrafo-parte1 {
        font-size: 15px;
        letter-spacing: 0pt;
        line-height: 23px;
    }
    .mais-info {
        display: inline-block;
        margin-bottom: 10px;
    }
    .imagem {
       background-position: bottom; 
    }   
    .parte2 {
        padding: 0px 15px;
    }   
    .parte3 {
        padding: 0px 15px;
    }
    .barra-progress {
        width: 250px;
    }   
    .rodape {
        padding: 10px 0px;
        font-size: 15px;
        line-height: 32px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) { /*Tablets*/

    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    .titulo {
        font-size: 40px;
    }
    .subtitulo1 {
        font-size: 20px;
    }
    .subtitulo2 {
        font-size: 20px;
    }
    .parte1 {
        padding: 0px 100px;
    }
    .paragrafo-parte1 {
        font-size: 15px;
        line-height: 20px;
    }
    .mais-info {
        display: inline-block;
        margin-bottom: 10px;
    } 
    .parte2 {
        padding: 0px 100px;
    }
    .paragrafos-parte2{
        line-height: 20px;
    }   
    .parte3 {
        padding: 0px 100px;
    } 
    .rodape {
        padding: 20px 0px;
        font-size: 15px;
    }
}