@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", "sans-serif";
}
.apresentacao {
    padding-top: 100px;
    background-color: #0D0D0D;
    color: #828a9c;
}
.foto {
    background-color: #828a9c;
}
.cursos {
    background-color: #590202;
    color: #828a9c;
}
.graficos {
    background-color: #828a9c;
}
.rodape {
    background-color: #0D0D0D;
    color: #828a9c;
}
/* Links */
.rodape a {
    color: #babfca;
}
.rodape a:hover {
    color: #fff;
}
main a {
    color: #babfca;
}
main a:hover {
    color: #fff;
}